/* Debian language css file for turkish - tr */
/* please do not touch for now! - Jutta Wrage 2005 */

html[lang=tr] #maincol {}

/* quotes */
html[lang=tr] q:before { content: "\00AB"; }
html[lang=tr] q:after { content: "\00BB"; }
html[lang=tr] q q:before { content: "\2039"; }
html[lang=tr] q q:after { content: "\203A"; }

html[lang=tr] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=tr] blockquote.quote p:after { content: ""; }
html[lang=tr] blockquote.quote p.last:after { content: "\00BB"; }

/* html[lang=tr] q:before { content: "\201C"; }
html[lang=tr] q:after { content: "\201D"; }
html[lang=tr] q q:before { content: "\2018"; }
html[lang=tr] q q:after { content: "\2019"; }
*/
